/* === GLOBAL === */
:root {
    --bg-charcoal-blue: #06171e;
    --bg-midnight-teal: #0B2A34;
    --bg-deep-blue-teal: #0D3240;
    --warm-red: #c44f48;
    --white: #ffffff;
    --normal:   #D8D7B8;
    --water:    #A8C3F7;
    --fire:     #F6B27A;
    --electric: #FBE89A;
    --grass:    #B9E2A1;
    --ice:      #CFEFEA;
    --fighting: #E08A87;
    --poison:   #D3A6D8;
    --ground:   #F0DBA8;
    --flying:   #D4CAF8;
    --psychic:  #F7AFC4;
    --bug:      #D8E08A;
    --rock:     #E0D4A5;
    --ghost:    #B9A9D6;
    --dragon:   #B7A0FD;
    --dark:     #B8AAA0;
    --steel:    #E1E1EE;
    --fairy:    #EFC1D7;
    --primary-font: 'Poppins';
    --secondary-font: 'Inter';
    --fallback-font: sans-serif;
}

html, body {
    color: var(--white) !important;
    display: flex;
    flex-direction: column;
    font-family:  var(--primary-font);
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
    color: var(--white);
}

table {
  color: var(--white);
}

td {
  padding: 0;
}

h2 {
    font-size: 16px;
    margin: 0;
}

header {
    display: flex;
    height: 48px;
    padding: 24px;
    background-color: var(--bg-midnight-teal);
}

button {
  cursor: pointer;
}

.numbers {
    font-family: var(--secondary-font);
}

.dNone {
    display: none !important;
}

.no-scroll {
  overflow: hidden;
}

/* === BACKGROUND AND FULL BLEED EFFECT === */
.full-bleed-midnight-teal-background {
  box-shadow: 0 0 0 100vmax var(--bg-midnight-teal);
  clip-path: inset(0 -100vmax);
}

/* === HEADER === */
header {
    justify-content: space-between;
    align-items: center;
}

input {
    width: 120px;
    height: 16px;
}

/* === MAIN === */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--bg-charcoal-blue);
    padding: 24px 0;
}

/* === DIALOG === */

dialog.opened {
  padding: 0;
  border: 0;
  border-radius: 20px;
  background-color: var(--bg-deep-blue-teal);
  overflow: hidden;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 620px;
  border-radius: 20px;
  background-color: var(--bg-deep-blue-teal);
}


/* === DIALOG-HEADER === */
.dialog-header-visible {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
  background: url("./assets/img/pokeball.png") no-repeat 50% center;
  background-size: 80% auto;
  height: 228px;
  padding: 24px;
}

.dialog-pokemon-name {
  font-size: 32px;
  font-weight: 600;
}

.close-like-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.close-like-btn {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;     
  border-radius: 50%;
  background: none;
  color: var(--white);
  font-size: 24px;     
  cursor: pointer;
}

.close-like-btn:hover {
  filter: brightness(1.25)
}

.close-like-btn:focus {
  outline: 2px solid rgba(255, 255, 255, 0.7);
  outline-offset: 2px;
}

.dialog-pokemon-header-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.dialog-pokemon-type-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dialog-pokemon-number {
  font-size: 20px;
  font-weight: 500;
}

.dialog-pokemon-img {
  position: absolute;
  bottom: -40px;
  left: calc(50% - 80px);
}

.dialog-pokemon-type {
  border: 1.5px solid var(--white);
  border-radius: 20px;
  padding: 8px;
  font-weight: 600;
}

.dialog-pokemon-type{
  text-align: center;
}

/* === DIALOG-SECTION === */
.dialog-pokemon-data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px 0 16px;
}

.pokemon-data-headers {
  display: flex;
  justify-content: center;
  gap: 36px;
}

.pokemon-data-headers > li {
  display: flex;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.50)
}

.pokemon-data-headers > li:hover {
  text-decoration: underline;
  color: var(--white) !important;
  cursor: pointer;
}

.active-data-header {
  color: var(--white) !important;
}

table {
  display: flex;
  padding: 24px 0 0 24px;
}

table tr {
  padding-bottom: 16px;
}

table tr > td:first-of-type {
  padding-right: 32px;
  color: rgba(255, 255, 255, 0.65);
}

table:nth-of-type(3) {
  display: flex;
  padding: 24px 0 0 24px;
}


table:nth-of-type(3) tr > td:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 8px;
}


table:nth-of-type(3) img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}


table:nth-of-type(3) tr {
  padding-bottom: 16px;
}

table:nth-of-type(3) tr > td:first-of-type {
  color: rgba(255, 255, 255, 0.65);
}

/* === DIALOG-FOOTER === */
.dialog-footer-visible {
  padding: 0 24px 16px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-deep-blue-teal);
  color:var(--white);
  font-weight: 400;
  font-size: 16px;
}

.dialog-footer-visible button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background-color: var(--bg-charcoal-blue);
}

.dialog-footer-visible button:hover {
  background-color: var(--bg-charcoal-blue);
  filter: brightness(1.25)
}

.dialog-footer-visible button > span {
  display: flex;
  width: 14px;
  height: 2px;
}

.dialog-footer-visible button:first-of-type > span {
  margin-left: 4px;
}

.dialog-footer-visible button:nth-of-type(2) > span {
  margin-left: 2.5px;
}

.arrow-left-up {
  width: 10px !important;
  background-color: var(--white);
  transform: translateX(-2px) translateY(-1px) rotate(-45deg);;
}

.arrow-left-down {
  width: 10px !important;
  background-color: var(--white);
  transform: translateX(-2px) translateY(1px) rotate(45deg);
}

.arrow-middle {
   background-color: var(--white);
}

.arrow-right-up {
  width: 10px !important;
  background-color: var(--white);
  transform: translateX(6px) translateY(-1px) rotate(45deg);
}

.arrow-right-down {
  width: 10px !important;
  background-color: var(--white);
  transform: translateX(6px) translateY(1px) rotate(-45deg);
}

/* === POKEMON LIST === */
.pokemon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.pokemon-list > li {
    display: flex;
    list-style-type: none;
}

.pokemon-card {
    background-color: var(--bg-deep-blue-teal);
    border-radius: 8px;
}

.pokemon-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 8px;
}

.pokemon-card-img {
   width: 160px;
   height: auto;
   cursor: pointer;
}

.pokemon-card-footer {
    position: relative;
    height: 36px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pokemon-type-img {
    position: absolute;
    width: 48px;
    height: auto;
    top: calc(-9px);
    left: calc(50% - 24px);
}

.pokemon-type-img-1 {
    position: absolute;
    width: 48px;
    height: auto;
    top: calc(-9px);
    left: calc(50% - 48px);
}

.pokemon-type-img-2 {
    position: absolute;
    width: 48px;
    height: auto;
    top: calc(-9px);
    left: calc(50% - 0px);
}

/* === FOOTER === */
.footer-author-credit {
    display: flex;
    height: 48px;
    padding: 24px;
    background-color: var(--bg-midnight-teal);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-author-credit a {
    color: var(--white);
    text-decoration: none;
}