/* === POKEMON-TYPE-THEME-BACKGROUND === */
.normal-bg {
  background-color: var(--normal);
}

.water-bg {
  background-color: var(--water);
}

.fire-bg {
  background-color: var(--fire);
}

.electric-bg {
  background-color: var(--electric);
}

.grass-bg {
  background-color: var(--grass);
}

.ice-bg {
  background-color: var(--ice);
}

.fighting-bg {
  background-color: var(--fighting);
}

.poison-bg {
  background-color: var(--poison);
}

.ground-bg {
  background-color: var(--ground);
}

.flying-bg {
  background-color: var(--flying);
}

.psychic-bg {
  background-color: var(--psychic);
}

.bug-bg {
  background-color: var(--bug);
}

.rock-bg {
  background-color: var(--rock);
}

.ghost-bg {
  background-color: var(--ghost);
}

.dragon-bg {
  background-color: var(--dragon);
}

.dark-bg {
  background-color: var(--dark);
}

.steel-bg {
  background-color: var(--steel);
}

.fairy-bg {
  background-color: var(--fairy);
}

/* === POKEMON-TYPE-THEME-EVOLUTION === */
.normal-evo-border {
  border: solid 1.5px var(--normal);
}

.water-evo-border {
  border: solid 1.5px var(--water);
}

.fire-evo-border {
  border: solid 1.5px var(--fire);
}

.electric-evo-border {
  border: solid 1.5px var(--electric);
}

.grass-evo-border {
  border: solid 1.5px var(--grass);
}

.ice-evo-border {
  border: solid 1.5px var(--ice);
}

.fighting-evo-border {
  border: solid 1.5px var(--fighting);
}

.poison-evo-border {
  border: solid 1.5px var(--poison);
}

.ground-evo-border {
  border: solid 1.5px var(--ground);
}

.flying-evo-border {
  border: solid 1.5px var(--flying);
}

.psychic-evo-border {
  border: solid 1.5px var(--psychic);
}

.bug-evo-border {
  border: solid 1.5px var(--bug);
}

.rock-evo-border {
  border: solid 1.5px var(--rock);
}

.ghost-evo-border {
  border: solid 1.5px var(--ghost);
}

.dragon-evo-border {
  border: solid 1.5px var(--dragon);
}

.dark-evo-border {
  border: solid 1.5px var(--dark);
}

.steel-evo-border {
  border: solid 1.5px var(--steel);
}

.fairy-evo-border {
  border: solid 1.5px var(--fairy);
}