/* === FONTS === */
/* === POPPINS-REGULAR - LATIN === */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'),
       url('../fonts/poppins-v24-latin-regular.ttf') format('truetype');
}

/* === POPPINS-600 - LATIN === */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'),
       url('../fonts/poppins-v24-latin-600.ttf') format('truetype');
}

/* === INTER-REGULAR - LATIN === */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v20-latin-regular.woff2') format('woff2'),
       url('../fonts/inter-v20-latin-regular.ttf') format('truetype');
}

/* === INTER-500 - LATIN === */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v20-latin-500.woff2') format('woff2'),
       url('../fonts/inter-v20-latin-500.ttf') format('truetype');
}